<!DOCTYPE html>
<html>
<head>
  <title>智慧导游</title>
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/../css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" href="/../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/../css/bootstrap-table.css">
  <link rel="stylesheet" type="text/css" href="/../css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/../css/datepicker.css">
  <link rel="stylesheet" type="text/css" href="/../css/ladda-themeless.min.css">
  <link rel="stylesheet" type="text/css" href="/../css/style.css">
  <link rel="stylesheet" type="text/css" href="/../css/sweet-alert.css">
  <link rel="stylesheet" type="text/css" href="/../css/jquery.qtip.min.css">
  <link rel="stylesheet" type="text/css" href="/../css/bootstrap-editable.css">
  <link rel="stylesheet" type="text/css" href="/../css/cropper.min.css">
  <link rel="stylesheet" type="text/css" href="/../css/bootstrap-editable-table.css">
  <link rel="stylesheet" type="text/css" href="/../css/bootstrap-expandable-input.css">


  <script src="/../js/jquery.min.js"></script>
  <script type="text/javascript" src="/../js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/../js/jquery.qtip.min.js"></script>
  <script type="text/javascript" src="/../js/Chart.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-table.js"></script>
  <script type="text/javascript" src="/../js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="/../js/moment.min.js"></script>
  <script type="text/javascript" src="/../js/spin.min.js"></script>
  <script type="text/javascript" src="/../js/ladda.min.js"></script>
  <script type="text/javascript" src="/../js/sweet-alert.js"></script>
  <script type="text/javascript" src="/../js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/../js/jqueryValidateCustomMethod.js"></script>
  <script type="text/javascript" src="/../js/all.js"></script>
  <script type="text/javascript" src="/../js/jquery.cityselect.js"></script>
  <script type="text/javascript" src="/../js/banner.js"></script>
  <script type="text/javascript" src="/../js/bread.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/../js/tableExport.js"></script>
  <script type="text/javascript" src="/../js/jquery.base64.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-table-export.js"></script>
  <script type="text/javascript" src="/../js/additional-methods.min.js"></script>
  <script type="text/javascript" src="/../js/highcharts.js"></script>
  <script type="text/javascript" src="/../remote/remoteConfig.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-editable.min.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-editable.js"></script>
  <script type="text/javascript" src="/../js/cropper.min.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-editable-table.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-navigable-table.js"></script>
  <script type="text/javascript" src="/../js/bootstrap-expandable-input.js"></script>
  <script type="text/javascript" src="/../js/jquery.mockjax.js"></script>
        <script type="text/javascript" src="/../js/countdown.js"></script>
 <!--  // <script type="text/javascript" src="/../js/collapse.js"></script> -->


   <!-- <script type="text/javascript" src="/../js/jquery-1.11.1.min.js"></script>
   <script type="text/javascript" src="/../js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/../js/dataTables.tableTools.min.js"></script>
  <script type="text/javascript" src="/../js/dataTables.editor.min.js"></script>
-->

</head>
<body>