<!DOCTYPE HTML>
<html style="height:100%;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, minimal-ui" />
    <!-- <link rel="stylesheet" type="text/css" href="/../css/HowUI.css">
    <link rel="stylesheet" type="text/css" href="/../css/style.css"> -->
    <link rel="stylesheet" type="text/css" href="/../css/map/map_mine.css">
    <link rel="stylesheet" type="text/css" href="/../css/map/common.css">
    <link rel="stylesheet" type="text/css" href="/../css/map/nav.css">
    <script src="/../js/jquery.min.js"></script>
    <title>选择您的出行方式</title>
</head>
<style type="text/css" rel="stylesheet">


</style>

<body>
    <!-- <div>
        <button class="nav_search_button" >搜索</button>
    <div> -->
    <div class="nav_header">
        <div class="nav_header_img">
            <div style="width:33%;float:left">
                <a class="bus_nav" onclick="chooseNav('bus_nav')"><i></i></a>
            </div>
            <div style="width:33%;float:left">
                <a class="car_nav" onclick="chooseNav('car_nav')"><i></i></a>
            </div>
            <div style="width:33%;float:left">
                <a class="walk_nav" onclick="chooseNav('walk_nav')"><i></i></a>
            </div>
        </div>
    </div>
    <div class="navigation_nav_carSearchBox clearfix" style="border: 1px solid #ddd;">
        <div class="navigation_nav_busWalkIcon floatl"> </div>
        <div class="navigation_nav_switchStartEnd floatr icon-index-searchbox " onclick="switchStartEnd()"></div>
        <form>
            <ul class="navigation_nav_carSearchBoxFileset">
                <li class="navigation_nav_carSearchBoxInput">
                    <input type="text" placeholder="输入起点" data-type="saddr" id="key_start" name="key_start"> <i class="icon-close hidden"></i> <span class="navi-hint-text">从</span> </li>
                    <div id="result_start" name="result_start" class="navi-history" ></div>
                <li class="navigation_nav_carSearchBoxInput hidden">
                    <input type="text" placeholder="输入途径点" class="J_carMaddr" data-type="maddr"> <i class="icon-close hidden"></i> </li>
                <li class="navigation_nav_carSearchBoxInput">
                    <input type="text" placeholder="输入终点" data-type="daddr" id="key_end" name="key_end"> <i class="icon-close hidden"></i> <span class="navi-hint-text">到</span> </li>
                    <div id="result_end" name="result_end" class="navi-history"></div>
            </ul>
        </form>
    </div>

     <div id="search_list" style="top:165px">

        <!-- <div id="search_record" class="common_light search_history navi-search-history">
            <div class="navi-history-item"><a class="J_historyItem history-item" data-index="1">中东线→中国银行</a></div>
            <div class="navi-history-item"><a class="J_historyItem history-item" data-index="0">中华保险→中华药房</a></div>
            <div class="navi-history-item_clear"><a class="clearhistory J_clearHistory">删除全部历史记录</a></div>
        </div> -->

        <!-- <div id="search_record" class="common_light search_history navi-search-history" style="background-color:#fff;margin-top:10px;">
        </div> -->

    </div>
</body>
<script language="javascript" src="http://webapi.amap.com/maps?v=1.3&key=6361c5941dd85706221ec5c515858cab"></script>
<script src="/../js/map/search_start.js"></script>
<script src="/../js/map/search_end.js"></script>
<script type="text/javascript">

setMineLocation();

getAllNavRecord();
localStorage.navWay = "car_nav";
// localStorage.storeLnglat = 111;

function setMineLocation() {
    if (localStorage.text_start!=null) {
        $("#key_start").val(localStorage.text_start);
        $("#key_end").val(localStorage.text_end);
    }else{
        if (localStorage.cityCode_mine!=null) {        
            localStorage.lng_start = localStorage.lng_mine;
            localStorage.lat_start = localStorage.lat_mine;
            localStorage.cityCode_start = localStorage.cityCode_mine;
            localStorage.text_start = "我的位置";
            $("#key_start").val("我的位置");
        }
        if (localStorage.isInFeature == -1) {
            localStorage.lng_end = "119.997865";
            localStorage.lat_end = "31.824648";
            localStorage.text_start = "中华恐龙园西门";
            localStorage.cityCode_end = "320411";
            $("#key_end").val("中华恐龙园西门");
        }
    }
}
var navRecord = null;
function getAllNavRecord(){
    $.ajax({
        type: 'get',
        url: '/map/getAllNavRecord',
        success: function(result) {
            if (result.success) {
                var recordHtml = "<div id='search_record' class='common_light search_history navi-search-history' style='background-color:#fff;margin-top:10px;'>";
                $("#search_list").empty();
                if (result.data != null && result.data.length != 0) {
                    navRecord = result.data;
                    for (var i = 0; i < result.data.length; i++) {
                        recordHtml += "<div class='navi-history-item'><a class='history-item' onclick=navByRecord("+i+")>" +
                            result.data[i].text_start + "→" + result.data[i].text_end + "</a></div>";
                    };
                    recordHtml += "<div class='navi-history-item_clear'><a class='clearhistory' onclick='deleteNavRecord()'>删除全部历史记录</a></div></div>";
                    $("#search_list").html(recordHtml);
                    console.log(result.data);
                }

            };
        }
    })
}

function navByRecord(i) {
    localStorage.lng_start = navRecord[i].lng_start;
    localStorage.lat_start = navRecord[i].lat_start;
    localStorage.cityCode_start = navRecord[i].cityCode_start;
    localStorage.text_start = navRecord[i].text_start;
    localStorage.lng_end = navRecord[i].lng_end;
    localStorage.lat_end = navRecord[i].lat_end;
    localStorage.cityCode_end = navRecord[i].cityCode_end;
    localStorage.text_end = navRecord[i].text_end;
    $("#key_start").val(navRecord[i].text_start);
    $("#key_end").val(navRecord[i].text_end);
    localStorage.navWay = "car_nav";
    window.location.href = "/map_nav_result";
}

function deleteNavRecord() {
    $.ajax({
        type: 'post',
        url: '/map/deleteNavRecord',
        success: function(result) {
            getAllNavRecord();
        }
    })
}

function saveNavRecord() {
    $.ajax({
        type: 'post',
        url: '/map/saveNavRecord',
        data: {
            text_start: $("#key_start").val(),
            lng_start: localStorage.lng_start,
            lat_start: localStorage.lat_start,
            cityCode_start: localStorage.cityCode_start,
            text_end: $("#key_end").val(),
            lng_end: localStorage.lng_end,
            lat_end: localStorage.lat_end,
            cityCode_end: localStorage.cityCode_end
        },
        async: false,
        success: function(result) {
            if (result.success) {
                window.location.href = "/map_nav_result";
            }
        }
    })
}



function switchStartEnd() {
    lng_hold = localStorage.lng_end;
    lat_hold = localStorage.lat_end;
    val_hold = $("#key_end").val();

    localStorage.lng_end = localStorage.lng_start;
    localStorage.lat_end = localStorage.lat_start;
    $("#key_end").val($("#key_start").val());

    localStorage.lng_start = lng_hold;
    localStorage.lat_start = lat_hold;
    $("#key_start").val(val_hold);
}

function chooseNav(chooseWay) {
    if ($("#key_start").val()==null || $("#key_start").val()=='') {
        alert("请输入起点");
        return false;
    }
    if ($("#key_end").val()==null || $("#key_end").val()=='') {
        alert("请输入终点");
        return false;
    }
    localStorage.navWay = chooseWay;
    saveNavRecord();
    // window.location.href = "/map_nav_result";

    // if (chooseWay == "bus_nav") {
    //     if ($('.bus_nav i').css('background-image').indexOf('bus2.svg') == -1) {
    //         $('.bus_nav i').css('background-image', "url('/../images/bus2.svg')");
    //     };
    //     if ($('.car_nav i').css('background-image').indexOf('car1.svg') == -1) {
    //         $('.car_nav i').css('background-image', "url('/../images/car1.svg')");
    //     }
    //     if ($('.walk_nav i').css('background-image').indexOf('walk1.svg') == -1) {
    //         $('.walk_nav i').css('background-image', "url('/../images/walk1.svg')");
    //     }
    // }
    // if (chooseWay == "car_nav") {
    //     if ($('.bus_nav i').css('background-image').indexOf('bus1.svg') == -1) {
    //         $('.bus_nav i').css('background-image', "url('/../images/bus1.svg')");
    //     };
    //     if ($('.car_nav i').css('background-image').indexOf('car2.svg') == -1) {
    //         $('.car_nav i').css('background-image', "url('/../images/car2.svg')");
    //     }
    //     if ($('.walk_nav i').css('background-image').indexOf('walk1.svg') == -1) {
    //         $('.walk_nav i').css('background-image', "url('/../images/walk1.svg')");
    //     }
    // }
    // if (chooseWay == "walk_nav") {
    //     if ($('.bus_nav i').css('background-image').indexOf('bus1.svg') == -1) {
    //         $('.bus_nav i').css('background-image', "url('/../images/bus1.svg')");
    //     };
    //     if ($('.car_nav i').css('background-image').indexOf('car1.svg') == -1) {
    //         $('.car_nav i').css('background-image', "url('/../images/car1.svg')");
    //     }
    //     if ($('.walk_nav i').css('background-image').indexOf('walk2.svg') == -1) {
    //         $('.walk_nav i').css('background-image', "url('/../images/walk2.svg')");
    //     }
    // }
}

</script>

</html>