<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>智慧游园</title>
		<script src="/../js/jquery.min.js"></script>
		
	</head>
	<script>
		$(function() {
			getUserlist();
		});
		//查询所有菜品活动信息
			function getUserlist(){
				$.ajax({
					type: 'get',
					url: '/v1/getUserlist',
					success: function(result){
						if (result.success) {
							console.log(result.data);		
						};
					}
				})
			}
		</script>
	<body>
		<div>
			111
		</div>
	</body>
</html>

